* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%; /* Make body take full height of viewport */
}

main {
  display: flex;
  height: 100vh; /* Fill entire viewport */
}

#configurator-model {
  flex: 1; /* Take up remaining space */
  background: #cfcfcf; /* Just for visibility, optional */
}

#sidebar {
  flex: 0 0 25%;
  max-width: 400px;
  min-width: 200px;
  background: #ffffff; /* Optional: visual separation */
  outline: 1px solid grey;
}

#sidebar h1 {
  font-size: 16px;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid grey;
}