* {
  box-sizing: border-box;
}

:root {
  font-family: "Inter";
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  height: 100%;
  font-family: Inter;
}

main {
  height: 100vh;
}

#configurator-model {
  background: #cfcfcf;
  height: 100%;
}

#model-options {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  gap: 10px;
  border-radius: 8px;
}

#model-options button {
  all: unset;              
  background-color: white; 
  cursor: pointer;        
  width: 32px;             
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;      
  transition: background-color 0.2s ease;
}

#model-options button:hover {
  background-color: #efefef;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  outline: 1px solid grey;
  margin: 20px;
  min-width: 320px;
  height: calc(100% - 40px);
  border-radius: 8px;
  box-shadow: -6px 12px 17.9px 0 rgba(0, 0, 0, 0.14);
  overflow: auto;
}

#sidebar h1 {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  padding: 40px;
  margin: 0;
  border-bottom: 1px solid rgb(174, 174, 174);
}



.option-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin:0 0 16px 0;
}


.options-container {
  padding: 40px;
}

/* Color options */

#colors, #materials {
  display: flex;
  gap: 1.4rem;
  flex-wrap: wrap;
}

#colors > div, #materials > div  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-option {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #8d8d8d;
  margin-bottom: 0.5rem;
  cursor: pointer;
}


.sidebar-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 48px;
  border-top: 1px solid #ddd; /* Optional separator */
}

.sidebar-navigation button {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  padding: 0 16px;
  height: 100%;
  font-size: 16px;
  cursor: pointer;
  color: inherit;
}

.sidebar-navigation button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


.sidebar-navigation .prev-button {
  border-right: 1px solid #ccc;
}


.sidebar-navigation .next-button {
  border-left: 1px solid #ccc;
}

.view-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  padding: 0 16px;
  height: 100%;
  min-width: 60px; /* optional for visual balance */
}
